* {
    margin: 0;
    padding: 0;
   
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    border: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
background-image:
  linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
  url("images/font.jpg"); 
/* change images */
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* acher tag */
.nav-links ul li a{          
    color: #fff;
    text-decoration: none;
    font-size: 17px; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c54444;
    display: block;
    margin: auto;
    transition: 0.5s;
}
/* hover shows line in letter */
.nav-links ul li:hover::after{
 width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.note-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.note-btn:hover{
    border: 1px solid #c54444;
    background: #e38f8f;
    transition: 1s;
}

nav .fa{
    display: none;
    /* only display for small screen */
}

@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: relative;
        background: #c54444;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        /* hides menus */
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     .nav-links ul{
        padding: 30px;
     }
}

/* introduction */
.introduction{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #121010;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/* 3 paragram degising */
.goal-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.goal-co:hover{
    box-shadow: 0 0 20px 0px rgba(195, 16, 16, 0.2);
}